<!-- your html code here -->

<div class="conteiner" style="padding: 50px 50px 50px 50px; display: flex; justify-content: space-between">
    <div class="letter" style="font-style: italic; border-top: wheat 1px solid; border-bottom: wheat 1px solid;">
        <h1>This First Heading Will Catch Your Eye</p>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolor 
            saepe sed quod quo nesciunt, porro fugit eos
            tenetur hic
            voluptatem voluptates, perspiciatis reprehenderit debitis.
            Molestiae dicta esse suscipit voluptatum?</p>
    </div>
    <div class="imag" style="border-top: wheat 1px solid; border-bottom: wheat 1px solid; width: 350px; display: flex;">
        <img src="https://i.pinimg.com/564x/30/d8/99/30d899230ab9b3d1cf865411d627dd67.jpg" style="
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        width: 200px;
        height: 200px;
        clip-path: circle(35% at center)" />

    </div>
</div>