<!-- your html code here -->

<div class="conteiner"   style=" flex-direction: row;  margin: auto; justify-content: space-between; ">
    <div>
        <p>
        <h1>This First Heading <p>Will Catch Your Eye</p></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt dolor saepe sed quod quo nesciunt, porro fugit
            eos
            tenetur hic
            voluptatem voluptates, perspiciatis reprehenderit debitis.
            Molestiae dicta esse suscipit voluptatum?</p>
    </div>
    <div>
        <img src="https://i.pinimg.com/564x/30/d8/99/30d899230ab9b3d1cf865411d627dd67.jpg" style="
        display: flex;
        justify-content: right;
        margin: 0%;
        padding: 0%;
        width: 300px;
        clip-path: circle(35% at center)" />

    </div>
</div>